{% include header.html %}

<title>{{ site.name }}</title>

<div class="container page cut-top">
    <div class="pageSubHeadLine">Youngeyes-个人博客</div>
	<div class="pageDescription">生活不止眼前的苟且，还有诗和远方.</div>

</div>
</div>

<div class="contentDiv">
<div class="container page cut-bottom">

<section>
    <h1>About Me</h1>
    {% include aboutMe.html %}
</section>

<section id="post-section-en">
    <h1>技术杂记</h1>
    {% comment %}
    {% assign start = -1 | times: paginator.per_page | times: paginator.page %}
    {% if paginator.page == paginator.total_pages %}
        {% assign start = 0 %}
    {% endif %}
    {% assign sorted_post = site.posts | sort: "time" | slice: start, paginator.per_page %}
    {% endcomment %}

    {% for post in paginator.posts %}
        {% if post.hide != true %}
            {% assign isZn = false %}
            {% for tag in post.tags %}
                {% if tag == '生活'%}
                    {% assign isZn = true %}
                {% endif %}
            {% endfor %}

            {% if isZn == false %}
            <div class="post-block">
                {% assign time = post.time %}
				
                <!-- <div class="timeago" title="{{ post.time | replace: '.', '-' | replace: ' ', 'T' }}+08:00">{{ post.time }}</div> -->

                <h5 class="post-series">
                    {% if post.series %}
                    <a href="{{ site.url }}{{ post.url }}" class="series-recent" onclick="_gaq.push(['_trackEvent', 'ToSeries', '{{ postCnt.size }}thPost', window.location.pathname]);">系列博文: {{ post.series }}</a>
                    {% endif %}
                </h5>
                <h2>
                    <a href="{{ site.url }}{{ post.url }}" onclick="_gaq.push(['_trackEvent', 'ToPost', 'InRecent', '{{ post.url }}">{% if post.subtitle != null %}{{ post.subtitle }} {% endif %}{{ post.title }}</a>
                </h2>

                <div class="tagPanel">
                {% for tag in post.tags %}
                    <a href="javascript:void(0);" onclick="_gaq.push(['_trackEvent', 'ToTag', 'InRecent', '{{ postCnt.size }}thPost']);"><div class="tag">{{ tag }}</div></a>
                {% endfor%}        
                </div>
				
				<div class="time" title="{{ time | replace: '.', '-' | replace: ' ', 'T' }}+08:00"><span>{{ time }}</span></div>
                {{ post.excerpt | markdownify }}
            </div>
            {% endif %}
        {% endif %}
    {% endfor %}

    <div class="pagination">
    {% if paginator.page != 1 %}
        <a href="{{ site.url }}" class="previous" onclick="_gaq.push(['_trackEvent', 'ToPrevPage', '1thPage', window.location.pathname]);">首页</a>
    {% endif %}
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a href="{{ site.url }}" class="previous" onclick="_gaq.push(['_trackEvent', 'ToPrevPage', '1thPage', window.location.pathname]);">上一页</a>
        {% else %}
            <a href="{{ site.url }}/page{{ paginator.previous_page }}" class="previous" onclick="_gaq.push(['_trackEvent', 'ToPrevPage', '{{ paginator.previous_page }}thPage', window.location.pathname]);">上一页</a>
        {% endif %}
    {% endif %}
    <span class="page_number">{{ paginator.page }} / {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
        <a href="{{ site.url }}/page{{ paginator.next_page }}" class="next" onclick="_gaq.push(['_trackEvent', 'ToNextPage', '{{ paginator.next_page }}thPage', window.location.pathname]);">下一页</a>
    {% endif %}
    {% if paginator.next_page %}
        <a href="{{ site.url }}/page{{ paginator.total_pages }}" class="previous" onclick="_gaq.push(['_trackEvent', 'ToPrevPage', '1thPage', window.location.pathname]);">末页</a>
    {% endif %}
    <a href="{{ site.url }}/all/" class="allPostLink" onclick="_gaq.push(['_trackEvent', 'ToAllPost', 'InRecentNav', window.location.pathname]);">所有博文</a>
    </div>
</section>

<section id="post-section-zn">
    <h1>生活随笔</h1>
    {% for post in paginator.posts %}
        {% if post.hide != true %}
            {% assign isZn = false %}
            {% for tag in post.tags %}
                {% if tag == '生活'%}
                    {% assign isZn = true %}
                {% endif %}
            {% endfor %}

            {% if isZn == true %}
            <div class="post-block cn">
                {% assign time = post.time %}
                <div class="timeago cn" title="{{ time | replace: '.', '-' | replace: ' ', 'T' }}+08:00">{{ time }}</div>

                <h5 class="post-series">
                    {% if post.series %}
                    <a href="{{ site.url }}{{ post.url }}" class="series-recent" onclick="_gaq.push(['_trackEvent', 'ToSeries', '{{ postCnt.size }}thPost', window.location.pathname]);">系列博文：{{ post.series }}</a>
                    {% endif %}
                </h5>
                <h2>
                    <a href="{{ site.url }}{{ post.url }}" onclick="_gaq.push(['_trackEvent', 'ToPost', 'InRecent', '{{ post.url }}">{{ post.title }}{% if post.subtitle != null %}：{{ post.subtitle }}{% endif %}</a>
                </h2>

                <div class="tagPanel">
                {% for tag in post.tags %}
                    <a href="{{ site.url }}/all?tag={{ tag }}" onclick="_gaq.push(['_trackEvent', 'ToTag', 'InRecent', '{{ postCnt.size }}thPost']);"><div class="tag">{{ tag }}</div></a>
                {% endfor%}
                {% if post.category == 'note' %}
                    <a href="{{ site.url }}/notes" onclick="_gaq.push(['_trackEvent', 'ToNote', 'InRecent', '{{ postCnt.size }}thPost']);"><div class="tag">笔记</div></a>
                {% endif %}
                </div>

                {{ post.excerpt | markdownify }}
            </div>
            {% endif %}
        {% endif %}
    {% endfor %}

    <div class="pagination">
    {% if paginator.page != 1 %}
        <a href="{{ site.url }}" class="previous" onclick="_gaq.push(['_trackEvent', 'ToPrevPage', '1thPage', window.location.pathname]);">首页</a>
    {% endif %}
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <a href="{{ site.url }}" class="previous" onclick="_gaq.push(['_trackEvent', 'ToPrevPage', '1thPage', window.location.pathname]);">上一页</a>
        {% else %}
            <a href="{{ site.url }}/page{{ paginator.previous_page }}" class="previous" class="previous" onclick="_gaq.push(['_trackEvent', 'ToPrevPage', '{{ paginator.previous_page }}thPage', window.location.pathname]);">上一页</a>
        {% endif %}
    {% endif %}
    <span class="page_number">{{ paginator.page }} / {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
        <a href="{{ site.url }}/page{{ paginator.next_page }}" class="next" onclick="_gaq.push(['_trackEvent', 'ToNextPage', '{{ paginator.next_page }}thPage', window.location.pathname]);">下一页</a>
    {% endif %}
    {% if paginator.next_page %}
        <a href="{{ site.url }}/page{{ paginator.total_pages }}" class="previous" onclick="_gaq.push(['_trackEvent', 'ToPrevPage', '1thPage', window.location.pathname]);">末页</a>
    {% endif %}
    <a href="{{ site.url }}/all/" class="allPostLink" onclick="_gaq.push(['_trackEvent', 'ToAllPost', 'InRecentNav', window.location.pathname]);">所有博文</a>
    </div>
</section>

    {% include license.html %}
</div>

<script type="text/javascript">
    // check language and show Chinese sections first if is zh-...
    var lan = navigator.language;
    if (lan && lan.length > 1 && lan.slice(0, 2) === 'zh') {
        // is Chinese
        jQueryCallBack = function () {
            // change Chinese and English post order
            var en = $('#post-section-en').remove();
            $('#post-section-zn').after(en);
        }
    }
</script>

{% include footer.html %}
